apiVersion: v1
kind: Service
metadata:
  labels:
    app: ${dockerValues.applicationName}
  name: ${dockerValues.applicationName}
  namespace: ${dockerValues.applicationName}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: ${dockerValues.applicationName}
  sessionAffinity: None
  type: NodePort