apiVersion: v1
kind: Pod
metadata:
  name: "{{ include "${dockerValues.applicationName}.fullname" . }}-test-connection"
  labels:
    {{- include "${dockerValues.applicationName}.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": test
spec:
  containers:
    - name: wget
      image: busybox
      command: ['wget']
      args: ['{{ include "${dockerValues.applicationName}.fullname" . }}:{{ .Values.service.port }}']
  restartPolicy: Never
